.menuBtn{
    /* border: none;  */
    width: 53%; 
    font-size: 18px; 
    margin-top: 2%; 
    background-color: transparent;
    color: darkblue; 
    border-radius: 10px; 
    height: auto; 
    box-shadow: 1px

}