

#active {
    color:green
}

#profile-section{
    overflow: hidden;
}

#menu-left-col{
    background-color: rgb(5, 5, 41); 
    background-image: url("../../Guest/Home/images/loadingbkgrnd.png");
    background-repeat: no-repeat; 
    background-size: cover; 
}

.menu-left-col.animation{
    transform: translateX(50vw) skew(-0.06turn, 18deg);
    margin-top: -14%; 
    transition: transform 800ms ease;
}

.menu-right-col.animation{
    transform: translateX(-50vw);
    transition: transform 800ms ease;
}

#menu-right-col {
    padding-top: 30% !important; 
    display: none;
    text-align: center; 
}

#menu-right-col.show {
    transform: translateX(-50vw);
    display: inherit !important; 
}

.menuButton {
    border: none !important; 
}

/* #home-form-grid{
    height: 100vh; 
} */

#home-form-grid.hide{
    display: none; 
}

#dash{
    display: none; 
}

#menuHeader{
    height: 10%; 
}

.xl6menu{
    height: 130%; 
    transform: skew(-0.06turn, 18deg);
    margin-top: -18%; 
}

.centerButtons{
    width: 100% !important; 
}

.Side-logo{
    width: 80%; 
    margin-top: 5%; 
}

.newProjectCol {
    height: 100vh; 
    text-align: center; 
}

#newProjectTitle {
    font-size: 20px; 
    font-weight: bold; 
}

