.sideBtn {
    height:30px;
    width: 80%;
    border-radius: 8px;
    background-color:white;
    color:rgb(5, 5, 41);
    font-size: 16px;
    position: relative;
    top: 30px;
    margin-bottom:5px;
    margin-top:5px;
}

#active {
    color:green
}