@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');

#nameStyling{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: rgb(5, 5, 41) 
}
/* #moveRight{
    position: relative;
    right: 550px;
    top: -250px;
} */
.formFix{
    height: 25px;
    width: 200px;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
}
#buttnStyling{
    font-size: 16px;
    font-family: sans-serif;
    width:100px;
    border-radius: 8px;
    box-shadow: 2px 3px #c6c5c5;
}

#makeNewTasks{
    margin-top: 10%; 
}